


<section class="art_numerique">
    
    <div class="container">
    
        <h1>Art numérique</h1>
        
        <p>
            Je veux concentrer mes efforts sur « <span><strong>l’Art numérique</strong></span> ». J’ai envie d’y développer mon coup de crayon (ou stylet pour le coup).
        </p>
        <p>
            Découvrez ci dessous les différents thèmes que je vous proposes !
        </p>
    
    
    </div>

        
    <form class="selector container">
            
        <div>
            
            <p>Expression</p>
            
            <input type="radio" name="art_selector" id="expression" checked>
                
            <label for="expression"></label>
            
            
        </div>
            
        <div>
            
            <p>Portrait</p>
            
            <input type="radio" name="art_selector" id="portrait">
                
            <label for="portrait"></label>
            
        </div>
            
    </form>
    
    
    <div class="breakTop"></div>
   
    
    <div class="art_parent">
        
        
        <article class="art_child expression container">
            
            <h2>Les expressions</h2>
            
            <p><span>« Une image vaut mille mots »</span></p>
            
            <p>
                La langue française possède beaucoup d’expression imagée et j’ai souhaité exploiter ce
                « terrain de jeu » au pied de la lettre.
                Sur les images ci-dessous, vous pouvez essayer de retrouver l’expression correspondant à
                l’illustration. La solution est disponible en passant votre curseur sur la zone floutée.
            </p>
            <p>
                <span>PS</span> Certaines expressions sont plus coquinous que les autres, attention au jeune public …
            </p>
            
            <div>
            
            
                <div>
                    <img src="/assets/image/art_numerique/expression/ouest.webp" alt="Être à l'ouest">
                </div>
                
                 <div>
                    <img src="/assets/image/art_numerique/expression/pipe.webp" alt="Tailler une pipe">
                </div>
                
                 <div>
                    <img src="/assets/image/art_numerique/expression/h2o_vin.webp" alt="Mettre de l'eau dans son vin">
                </div>
                
            </div>
            
            
            
            
        </article>
        
    
        <article class="art_child portrait container" >
            
            <h2>Les portraits</h2>
            
            
             <p>
                Je créer des <strong><span>portraits</span></strong> à partir de photo. Je dessine des anonymes et des personnages de <span>film des années 90</span>.
            </p>
            
            <div>
            
            
                <div>
                    <img src="/assets/image/art_numerique/portrait/photo_moi.webp" alt="Cuisse De Poupou photo">
                    <img src="/assets/image/art_numerique/portrait/portrait_moi.webp" alt="Cuisse De Poupou picture">
                </div>
                
                <div>
                    <img src="/assets/image/art_numerique/portrait/photo_marty.webp" alt="Marty McFly photo from Back to the future 3">
                    <img src="/assets/image/art_numerique/portrait/portrait_marty.webp" alt="Marty McFly picture">
                </div>
            
            </div>
            
        </article>
    
    </div>
    
    <div class="breakBot"></div>
    
</section>

<section class="container shop">
    
    <h2>Boutique</h2>
    
    
    <% for(let produit of produits) {
        if(produit.statut === "free") {%>
    
    <article id="<%= produit.id %>" class="numericProduct">
        
        <div class="numericImg">
            <img src="<%= produit.img %>" alt="<% produit.nom %>" >
        </div>
        
        <div class="numericContent">
            
            <h3><%= produit.nom %></h3>
            <p><%= produit.description %></p>
            <p class="priceTag"><%= produit.prix %> €</p>
            
            <% if(locals.user.role === "client" && (produit.idUserPanier != locals.user.id)){ %>
            
                <button class="js-addProduit-button" data-addProduct = "<%= produit.id %>" data-addClient="<%= locals.user.id %>">Ajouter au panier</button>
            
            <% } %>
        
        </div>
        
    </article>
    
        <% }
    } %>
    
    
</section>

<dialog class="modal container" id="artModal">
</dialog>

<% if(locals.user.role === "client") { %>

<section class="orderPrompt container">
    
    <h2>Commande</h2>
    
    <p>
        Je peux réaliser un <strong><span>portrait sur demande</span></strong>. Formulez votre <span>souhait</span>, précisez vos couleurs préférés.
        Nous échangerons pour les détails.
    </p>
    
    <form>
        <label for="orderDigitalArt"><p><span>Faite une commande personnalisée!</span></p></label>
        <textarea name="orderDigitalArt" id="orderDigitalArt" placeholder="formulez votre souhait" class="customOrderArea"></textarea>
        
        <input type="submit" lavue="Envoyer" class="js-customOrder-button" data-userId="<%= locals.user.id %>">
        
    </form>
</section>

<% } %>
