


<section class="art_numerique container">
    
    <h1>Art numérique</h1>

        
    <form class="selector">
            
        <div>
            <input type="radio" name="art_selector" id="expression" checked>
                
            <label for="expression">
                    
                <img src="/assets/icone/gif/expression.gif">
                    
            </label>
        </div>
            
        <div>
            <input type="radio" name="art_selector" id="portrait">
                
            <label for="portrait">
                    
                <img src="/assets/icone/gif/portrait.gif">
                    
            </label>
        </div>
            
    </form>
    
    <div class="art_parent">
        
        <article class="art_child expression">
            
            <div>
                <img src="/assets/image/art_numerique/ouest.svg">
            </div>
            
             <div>
                <img src="/assets/image/art_numerique/pipe.svg">
            </div>
            
             <div>
                <img src="/assets/image/art_numerique/a_o.svg">
            </div>
            
            
            
        </article>
        
    
        <article class="art_child portrait" >
            <div>
                <img src="/assets/image/art_numerique/photo_moi.jpg">
                <img src="/assets/image/art_numerique/portrait_moi.png">
            </div>
            
            <div>
                <img src="/assets/image/art_numerique/photo_marty.jpg">
                <img src="/assets/image/art_numerique/portrait_marty.png">
            </div>
            
        </article>
    
    </div>
    
</section>

<section>
    <h2>Boutique</h2>
    <% for(let produit of produits) {
        if(produit.statut === "free") {%>
    
    <article id="<%= produit.id %>">
        <img src="<%= produit.img %>" alt="<% produit.nom %>" >
        <p><%= produit.nom %></p>
        <p><%= produit.description %></p>
        <p><%= produit.prix %></p>
        
        <% if(locals.user.role === "client" && (produit.idUserPanier != locals.user.id)){ %>
        
        <button class="js-addProduit-button" data-addProduct = "<%= produit.id %>" data-addClient="<%= locals.user.id %>">Ajouter au panier</button>
        
        <% } %>
        
    </article>
        <% }
    } %>
    
</section>

<% if(locals.user.role === "client") { %>

<section class="orderPrompt container">
    
    <h2>Commande</h2>
    
    <form>
        <label for="orderDigitalArt">Faite une commande personalisée!</label>
        <textarea name="orderDigitalArt" id="orderDigitalArt" placeholder="formulez votre souhait" class="customOrderArea"></textarea>
        
        <input type="submit" lavue="Envoyer" class="js-customOrder-button" data-userId="<%= locals.user.id %>">
        
    </form>
</section>

<% } %>
