<section class="scrapbooking">
    
    <h1 class="container">Scrapbooking</h1>
    
    <article class="scrapGrid">
        <img src="/assets/image/scrapbooking/cadre1.webp">
        <img src="/assets/image/scrapbooking/hoogie.webp">
        <img src="/assets/image/scrapbooking/cadre2.webp">
        <img src="/assets/image/scrapbooking/jars.webp">
        <img src="/assets/image/scrapbooking/avion_licorn.webp">
        <img src="/assets/image/scrapbooking/noel_cart.webp">
        <img src="/assets/image/scrapbooking/spider_wire.webp">
        <img src="/assets/image/scrapbooking/noel.webp">
        <img src="/assets/image/scrapbooking/octopi.webp">
        
    </article>
    
    <video autoplay muted loop>
      <source src="/assets/video/CDPP_banniere.mp4" type="video/mp4">
      Your browser does not support the video tag
    </video>

</section>
<section class="container shop">
    
    <h2>Boutique</h2>
    
    <button class="sliderButton">&#171;</button>
    <button class="sliderButton">&#187;</button>
    
    <div class="scrapbookingProduct" id="slider">
        
        
    
    <% for(let produit of produits) { 
        if(produit.statut === "free") {%>
        
            
        
       <article id="<%= produit.id %>" class="product">
           
            <div class="img">
                <img src="<%= produit.img %>" alt="<%= produit.nom %>" >
            </div>
            <div class="content">
               
                <h3><%= produit.nom %></h3>
                <p><%= produit.description %></p>
                <p class="priceTag"><%= produit.prix %> €</p>
            
            
        
                <% if((locals.user.role === "client") && (produit.idUserPanier != locals.user.id)) { %>
                
                <button class="js-addProduit-button" data-addProduct = "<%= produit.id %>" data-addClient="<%= locals.user.id %>">Ajouter au panier</button>
                
                <% } %>
            </div>
    
    </article>
        <% }
    
    } %>
    
    </div>
    
</section>

<dialog class="modal container" id="modal">
</dialog>

<% if(locals.user.role === "client") { %>

<section class="orderPrompt container">
    
    <h2>Commande</h2>
    
    <form>
        
        <label for="orderScrapbooking">Faite une commande personalisée!</label>
        <textarea name="orderScrapbooking" id="orderScrapbooking" placeholder="formulez votre souhait" class="customOrderArea"></textarea>
        
        <input type="submit" value="Envoyer" class="js-customOrder-button" data-userId="<%= locals.user.id %>">
        
    </form>
    
</section>

<% } %>

