<section class="scrapbooking container">
    
    <h1>Scrapbooking</h1>
    
    <p>
        Le <span><strong>scrapbooking</strong></span>, où l’art d’associer des choses ensemble et qui rendent bien, est une de
        mes <span>passions</span>. Je privilégie les bannières à thème.
    </P>
    <p>
        Chaque modèle est <span>unique</span>.
    </p>
    
    <div class="scrapGrid">
        <img src="/assets/image/scrapbooking/cadre1.webp" alt="happy birthday card with an airplane">
        <img src="/assets/image/scrapbooking/hoogie.webp" alt="hoogie bead lamp for Halloween">
        <img src="/assets/image/scrapbooking/cadre2.webp" alt="card with flowers and 'the magic of simple moments' written on it">
        <img src="/assets/image/scrapbooking/jars.webp" alt="small card in the shape of a jar with glitter stars inside">
        <img src="/assets/image/scrapbooking/avion_licorn.webp" alt="card with an airplane next to a card with a unicorn">
        <img src="/assets/image/scrapbooking/noel_cart.webp" alt="christmas card with a reindeer and a sleigh">
        <img src="/assets/image/scrapbooking/spider_wire.webp" alt="wire in the shape of a spider">
        <img src="/assets/image/scrapbooking/noel.webp" alt="collection of christmas socks">
        <img src="/assets/image/scrapbooking/octopi.webp" alt="carte avec des petit poulpe et écrit 'you octopi my heart'">
        
    </div>
    
    <video autoplay muted loop>
      <source src="/assets/video/CDPP_banniere.mp4" type="video/mp4">
      Your browser does not support the video tag
    </video>

</section>
<section class="container shop">
    
    <h2>Boutique</h2>
    
    <p>Voici les articles mis en ventes. Il est également possible de passer une <span>commande personnalisée</span> : RDV dans votre espace client !</p>
    
    <button class="sliderButton">&#171;</button>
    <button class="sliderButton">&#187;</button>
    
    <div class="scrapbookingProduct" id="slider">
        
        
    
    <% for(let produit of produits) { 
        if(produit.statut === "free") {%>
        
            
        
       <article id="<%= produit.id %>" class="product">
           
            <div class="img">
                <img src="<%= produit.img %>" alt="<%= produit.nom %>" >
            </div>
            
            <div class="content">
               
                <h3><%= produit.nom %></h3>
                <p><%= produit.description %></p>
                <p class="priceTag"><%= produit.prix %> €</p>
            
            
        
                <% if((locals.user.role === "client") && (produit.idUserPanier != locals.user.id)) { %>
                
                    <button class="js-addProduit-button" data-addProduct = "<%= produit.id %>" data-addClient="<%= locals.user.id %>">Ajouter au panier</button>
                
                <% } %>
            </div>
    
    </article>
        <% }
    
    } %>
    
    </div>
    
</section>

<dialog class="modal container" id="modal">
</dialog>

<% if(locals.user.role === "client") { %>

    <section class="orderPrompt container">
        
        <h2>Commande</h2>
        
        <% if (!userCommande) { %> 
        
        <p>
            Ici, tu notes ce que tu voudrais, pourquoi elle est prévue, tes envies/souhaits, ce
            que tu ne veux pas avec le plus de détail possible et puis je te recontacte.
        </p>
        <p>
            (L’envoi de photos, images d’inspiration est prévu pour un deuxième temps)
        </p>
        
        
        
        <form>
            
            <label for="orderScrapbooking"><p><span>Faite une commande personnalisée!</span></p></label>
            <textarea name="orderScrapbooking" id="orderScrapbooking" placeholder="formulez votre souhait" class="customOrderArea"></textarea>
            
            <input type="submit" value="Envoyer" class="js-customOrder-button" data-userId="<%= locals.user.id %>">
            
        </form>
        
        <% } else { %>
        
        <h3>Vous avez déja une commande en cours</h3>
        
        <p>Rendez-vous sur votre <a href="/profile/<%= locals.user.id %>"><span>page profil</span></a> pour suivre son évolution.</p>
        
        <% } %>
        
    </section>

<% } %>

